*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html{
}

*{
    font-family: 'Khula', sans-serif;
    letter-spacing: -1px;
}

header nav{
    background-color: #0084fd ;
    padding-inline: 40px ;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
 display: block;
}

.ham{
    scale: 1.5;
    fill: white;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-block: 50px;
    gap:40px;
    padding-inline: 35px;
}

#demo{
 width: 100%;
 display: flex;
 flex-direction: column; 
 background-color: #b5ddff ; 
 border-radius: 20px; 
}

div .smallcon{
    background-color: #b5ddff ;
    width: 100%;
    height: 370px;
    border-radius: 20px;

}


.wdemo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
    padding-left: 30px;
    gap: 20px;
}

h1.blue{
    color: #0084FD  ;
}

.wdemo p{
    font-weight:600 ;
    opacity: .8;
    width: 90%;
}

.wdemo button{
    width:70% ;
    height: 40px;
    background-color:#0084fd ;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: large;
    letter-spacing: 2px;
    font-weight: 600;
    line-height: 45px;
}

.wdemo button > svg{
   fill: white;
   vertical-align: -2px;
   
}

.cphone{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.phone{
    width: 80%;
}

.smallcon{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 20px;
}

.smallcon svg{
    fill:#0084FD;
    scale: 5;
    margin-block: 40px;
}

.smallcon p{
    width: 80%;
    text-align: center;
    font-weight:600 ;
    opacity: .8;
}

h1.large{
    font-size: 35px;
}

.girl{
    width: 100%;
}

div.violet{
    padding-top: 70px;
    padding-inline: 35px;
    justify-content: flex-start;
    background-color: #9593e6;
}

.viol{
    background-color: #9593e6;
}

.violet div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    color: white;
}

.violet p{
    width: 80%;
  
}

div.whitescreen{
    width: 100%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-bottom: 50px;
    background-color: white;
    gap: 20px;


   }

  .boy{
    width: 100%;
    
  } 

  .black{
    color: black;
  }

  .whitescreen p{
    text-align: center;
} 

.whitescreen span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    aspect-ratio: 1;
    background-color: #9593e6;
    border-radius: 100px;
    margin-bottom: 20px;
}

.wtestimonials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 35px;
    text-align: center;
    gap: 30px;
}

.wtestimonials p{
    font-size: 23px;
    font-weight: 500;
}

.viotext{
    color: #9593e6;

}

div.vioscreen{
    width: 100%;
    height: 500px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color:#9593e6;
    padding-inline: 35px;
}

div.testimonial{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    gap: 10px;

}

.testimonial p{
    font-size: large;

}


.test{
    width: 200px;
    display: block;
    border-radius: 100%;
}

.quot{
    fill: white;
    scale: 1.5;
    margin-inline: 10px;

}

.nat{ 
    font-size: large;
    font-weight: 700;
    letter-spacing: 2px;

}

.cardscreen{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
}


.card{
    width: 90%;
    background-color: white ;
    border-radius: 20px;
    padding-top: 50px;
}

.benefits{
    color: white;
    text-align: center;
    margin-top: 50px;
}

.card{
    color:#9593e6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-inline: 35px;
    gap: 20px;
       
}

.card h1{
    color:#9593e6;
    font-size: 50px;
    height: 60px; 
}

.card p{
    text-align: start;
    color: black;
    opacity: .8;
}

.card button{
    background-color: #9593e6;
    width: 140px;
    border: none;
    border-radius: 100px;
    color: white;
    height: 40px;
    letter-spacing: 2px;
    font-weight: 600;
    line-height: 45px;
    font-size: large;
}

.cardscreen :last-child{
    margin-bottom: 50px;
}

.containerab{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    width: 100%;
    margin-block: 50px;
    gap:40px;
    padding-inline: 35px;
}

div.about-a{
    display: flex;
    flex-direction:column;
    gap: 50px;
}



.about-a h1{
    color: #9593e6;
    height: 50px;
    font-size: 50px;
}

.about-a p{
    font-size: 20px;
    max-width: 400px ;
}

.about-b{
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: flex-start;
}

.about-b img{
    width: 200px;
    display: block;
    border-radius: 200px;
}

.quotvio{
    transform: translate(55px, -60px);
    scale: 3;
    fill: #9593e6;
}

.about-b p{
    color: #9593e6;
    width: 100%;
    font-size: 25px;
    font-weight: 700;
}


.about-b button{
    background-color: #9593e6;
    border-radius: 30px;
    height: 30px;
    width: 200px;
    border: none;
    color: white;
    font-size: 17px;
    line-height: 35px;
    margin-top: 20px;
    
    
}

.linkedin{
    fill: white;
    vertical-align: -2px;
    margin-right: 10px;
}

#simple{
    color: white;
    margin-bottom:0px;
    
}

.get{
    opacity: .6;
    font-size: large;
    letter-spacing: 2px;
    margin-top: 50px;
    width: 100%;
    text-align: center;
   

}

#simple h2{
    font-size: 35px ;
    text-align: center;
    width: 100%;
}

#simple h1{
    font-size: 60px; 
    color:#fdc15f ;
    text-align: center;
    width: 100%;
}

#simple p{
    text-align: center;
    width: 100%;
}

#simple button{
    color:#9593e6;
    background-color: white;
    font-size:large;
    font-weight: 700;
    letter-spacing: 2px;
    border: none;
    border-radius: 100px;
    width: 250px;
    height: 65px;
    line-height: 70px;
}

#simple :last-child{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

a{
    color: white;
}
    
.last{
    background-color:#333333 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 50px;
    padding-inline: 35px;
    color: white;
    text-align: center;
    gap: 50px;
    font-size: 15px;
    font-weight: 600;

}

.last a{
    color: #9593e6;
}

/* ---------------- Media Query ---------------- */

@media screen and (min-width: 768px) {
    #demo{
        width: 500px;
        height: 600px;
        display: flex;
        flex-direction: column; 
        background-color: #b5ddff ; 
        border-radius: 20px; 
       }

       div .smallcon{
        background-color: #b5ddff ;
        width: 240px;
        height: 600px;
        border-radius: 20px;
    
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-inline: 0px;
        gap:20px;
    }

    .wdemo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
    padding-left: 30px;
    gap: 46px;
}

    .cphone{
        display: flex;
        justify-content: flex-start;
        margin-top: 40px;
    }

    .phone{
        width: 53.5%;
        margin-left: 20px;
    }
    .wdemo button{
        width:50% ;
        height: 40px;
        background-color:#0084fd ;
        border: none;
        border-radius: 30px;
        color: white;
        font-size: large;
        letter-spacing: 2px;
        font-weight: 600;
        line-height: 45px;
    }

    div.vioscreen{
        width: 100%;
        height: 300px;
        border-radius: 50px;
        display: flex;
        flex-direction:row;
        justify-content:flex-start;
        align-items: center; 
        background-color:#9593e6;
        padding-inline: 35px;
    }

    div.testimonial{
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        gap: 10px;
    
    }
    
    .testimonial p{
        font-size: large;
        width:70%;
        height: 20px;
    
    }
    
    
    .test{
        width: 200px;
        display: block;
        border-radius: 100%;
    }

    .nat{
        font-size: large;
        font-weight: 700;
        letter-spacing: 2px;
        width: 35%;
        text-align: start;
    
    }

    .card{
        width: 40%;
        background-color: white ;
        border-radius: 20px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .cardscreen :last-child{
        margin-bottom: 0px;
    }

    .cardscreen{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 50px;
        padding-bottom: 50px;
    }

    .containerab{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        width: 100%;
        margin-block: 50px;
        gap:40px;
        padding-left: 10%;
        padding-right: 0;
    }

    .about-a p{
        font-size: 20px;
        width: 100%;
    }

    .about-b p{
        color: #9593e6;
        width: 80%;
        font-size: 25px;
        font-weight: 700;
    }

    div.about-a{
        display: flex;
        flex-direction:column;
        gap: 50px;
        width: 50%;
    }

    div.about-b{
        width: 40%;
    }

    
    
    
    
}


@media screen and (min-width: 1020px){
    #demo{
        width: 61.3%;
        height: 350px;
        display: flex;
        flex-direction:row; 
        background-color: #b5ddff ; 
        border-radius: 20px; 
       }

       .wdemo{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 40px;
        padding-left: 30px;
        gap: 20px;
    }

       .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-inline: 100px;
        gap:20px;
    }

    
    div .smallcon{
        background-color: #b5ddff ;
        width: 30%;
        height: 350px;
        border-radius: 20px;
    
    }

    .phone{
        width: 200%;
        margin-left: 10%;
        

    }

    .wdemo p{
        font-weight:600 ;
        opacity: .8;
        width: 95%;
    }

    .wdemo button{
        width:60% ;
        height: 40px;
        background-color:#0084fd ;
        border: none;
        border-radius: 30px;
        color: white;
        font-size: large;
        letter-spacing: 2px;
        font-weight: 600;
        line-height: 45px;
    }

    div.violet{
        padding-top: 70px;
        padding-inline: 35px;
        align-items: flex-end;
        justify-content: center;
        background-color: #9593e6;
    }


    div.whitescreen{
        width: 25%;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        margin-bottom: 50px;
        background-color: white;
        padding-inline: 35px;
        gap: 30px;
    
    
    }

    .girl{
        width: 70%;
        padding-bottom: 100px;
    }

    .violet p{
        width: 65%;
      
    }

    div.gcon{
        width: 25%;
        padding-bottom: 50px;
    }
    .whitescreen p{
        width: 80%;
        text-align: center;
    } 
    
    .whitescreen span{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        aspect-ratio: 1;
        background-color: #9593e6;
        border-radius: 100px;
        margin-bottom: 20px;
    }

    .boy{
        width: 60%;
        
      } 

      .card{
        width: 29.2%;
        background-color: white ;
        border-radius: 20px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    

    

    

}































