*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

*{
    font-family: 'Khula', sans-serif;
}

header nav{
    background-color: #0084fd ;
    padding-inline: 40px ;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
 display: block;
}

.ham{
    scale: 1.5;
    fill: white;
}


